<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/home.css">
    <style>
        li a.cart {
          background-color: rgb(74, 74, 211);
          color: white;
        }
      </style>
      <%- include('../includes/head.ejs')%>
</head>
<body>
    <%- include('../includes/nav.ejs', {active: "active"}, {notActive: ""}) %>
    
    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
        <h1>Your Cart</h1>
        <% cartItems.forEach (cartItems => { %>
        <a href="../shop/<%= cartItems.productId._id %>" style="text-decoration: none;">
            <div class="border border-info ml-2">
                <h1><%= cartItems.productId.title %></h1>
                <img src="<%= cartItems.productId.imgUrl %>" style='max-width: 150px'>
                <p>$<%= cartItems.productId.price %></p>
                <p>Quantity: <%= cartItems.quantity %></p>
                <form action="/shop/cart/delete" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-warning" type="submit">Remove from Cart</button>
                    <input type="hidden" name="productId" value="<%= cartItems.productId._id %>">
                </form>
            </div>
        </a>
        <% }) %>
        <form action="/shop/cart/order" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-info ml-2 mt-5" type="submit">Order Now</button>
        </form>
    </div>
    
</body>
</html>

