<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit product</title>
  <link rel="stylesheet" href="/css/home.css">
  <style>
    li a.admin {
      background-color: rgb(74, 74, 211);
      color: white;
    }
  </style>
  <%- include('../includes/head.ejs')%>
</head>

<body>
  <%- include('../includes/nav.ejs', {active: "active"}, {notActive: ""}) %>

  <div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <form action="/admin/edit" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" placeholder="id" name="productId" value="<%= ID%>">
      <input class="<%= errorMessages.find(e => e.param === 'title') ? 'invalid' : '' %>" type="text"
        placeholder="Title" name="title" value="<%= itemT%>">
      <input class="<%= errorMessages.find(e => e.param === 'description') ? 'invalid' : '' %>" type="text"
        placeholder="Discription" name="description" value="<%= itemD%>">
      <input class="<%= errorMessages.find(e => e.param === 'price') ? 'invalid' : '' %>" type="text" step="0.01"
        placeholder="pirce" name="price" value="<%= itemP%>">
      <select name="tag">
        <option value="sword">Sword</option>
        <option value="bow">Bow</option>
        <option value="shield">Shield</option>
        <option value="armor">Armor</option>
      </select>
      <input class="<%= errorMessages.find(e => e.param === 'imgUrl') ? 'invalid' : '' %>" type="text"
        placeholder="imgUrl" name="imgUrl" value="<%= itemI%>">
      <input type="submit">
    </form>
    <form action="/admin/delete" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="text" name="deleteId" value="<%= ID%>" hidden>
      <button class="btn btn-danger">Delete item</button>
    </form>
    <% errorMessages.forEach(err => { %>
    <p style="color: red;">*<%= err.msg %> </p>
    <% }) %>
  </div>
</body>

</html>